﻿@using UrunKatalog.Web.Models
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="container">
        <div class="row" style="justify-content:center">
            <div class="col-md-4">
                <img src="~/Upload/logo.jpg" height="300" width="300" />
            </div>
            <div class="col-md-8">
                <h1 class="display-3">Sayfamıza Hoş Geldiniz</h1>
                <hr class="my-4">
                <p class="lead">Açılışımıza özel ayrıcalıklarla sizlerleyiz.</p>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" href="/Home/List" role="button">Ürünlere Göz At</a>
            </div>
        </div>
        
    </div>
    </div>
<div class="container">
    
</div>



    <div class="container pb-5">
        @Html.Partial("_ProductList", Model)
    </div>


