﻿@using UrunKatalog.Web.Models
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "List";
}

<div class="container pb-5">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("GetCategories")
        </div>
        <div class="col-md-9">
            @if (Model.Count() == 0)
            {
                <div class="alert alert-warning" role="alert">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    Bu kategoride bir ürün bulunamadı.
                </div>
            }
            else
            {
                <div class="alert alert-success" role="alert">
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                    <strong>@Model.Count() adet</strong>  ürün bulundu.
                </div>
            }

            @Html.Partial("_ProductList", Model)
        </div>
    </div>
</div>


